<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/newheader">
                        Header
                    </a>
                </div>
            </div>
        </li>
        <!--<li class="list-group-item">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">-->
                    <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">-->
                        <!--Label-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                        HTML
                    </a>
                </div>
            </div>
        </li>
        <!--<li class="list-group-item">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">-->
                    <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">-->
                        <!--Text Input-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="list-group-item">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">-->
                    <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">-->
                        <!--Link-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="list-group-item">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">-->
                    <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">-->
                        <!--Button-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/newimage">
                        Image
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/newtube">
                        Youtube
                    </a>
                </div>
            </div>
        </li>
        <!--<li class="list-group-item">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">-->
                    <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">-->
                        <!--Data Table-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="list-group-item">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">-->
                    <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">-->
                        <!--Repeater-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>