<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </p>
        <a class="navbar-brand" href="#">
            Widget New Image
        </a>
        <p class="navbar-text pull-right">
            <a ng-click="model.createImageWidget(model.widget.url)"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </p>
    </div>
</nav>


<div class="container">

    <form>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" id="url" class="form-control" type="text"/>
        </div>

    </form>
    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <!-- <input  name="width"     value="{{model.widget.width}}" style="display: none"/> -->
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <!-- <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/> -->
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>